.html, body{
  overflow-x: none;
  margin-bottom:0;
}

.row{
  margin-right:0;
}

.navbar-brand{
  font-family: 'WindSong', cursive;
  font-size: 2em;
}

.nav-link{
  font-family: 'Cinzel', serif;
  font-size: 1em;
}

.nameTitle{
  padding-top: 400px;
  padding-left: 100px;
}

.landing{
  margin-right:0;
}

.landpic{
  padding-right:0;
}

.name {
  font-family: 'Cinzel', serif;
  font-size: 4em;
  text-align: left;
  margin-left: 0px;
  padding-left: 0em;
  padding-top: 2em;
}

.landing_image, .aboutimage{
  height: 100%;
  width: 100%;
}

.title {
  font-family: 'Cinzel', serif;
  font-size: 3em;
  text-align: center;
  padding-top: 50px;
}

body {
  margin: 0;
}

.about{
  padding: .75em 2em .75em 1em;
}

p{
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  text-align: center;
}

.firstDiv {
  background-color: #BDD2B6;
  top: 0;
  position: relative;
}

.icons{
  text-align: center;
  padding-bottom: 50px;
}

.section{
  top: 0;
  position: relative;
}

.aboutDiv {
  background-color: #F7F7E8;
}

.photographydiv {
  background-color: #BDD2B6;
  padding-bottom: 50px;
}

.projectdiv{
  background-color: #D8AC9C;
  padding-top: 40px;
  padding-bottom: 50px;
}

.contactdiv {
  background-color: #F7F7E8;
  margin-bottom: 0;
}

.photos{
  padding-top: 300px;
  position:relative;
}

.carousel-control-prev {
  margin-left: 100px;
}

.carousel-control-next {
  margin-right: 100px;
}

.slideshowpic{
  height: 20%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.experience-column{
  padding-bottom: 20px;
}
.card{
  background-color:#F4EEED;
}

.card-title{
  font-family: 'Cinzel', serif;
  font-size: 1.5em;
}

.card-link, .card-subtitle{
  font-family: 'Cinzel', serif;
  font-size: 1em;
}

.card-body{
  font-family: 'Crimson Text', serif;
}
.cardformat{
  text-align: center;
}

.linkedin{
  color: #D8AC9C;
}

.description {
  text-align: center;
  padding-bottom: 30px;
  font-family: 'WindSong', cursive;
  font-size: 1.5em;
}
